<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ведение списка дел</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
	<h2 style="background-color: lightgrey; width:600px">Ведение списка дел</h2>
	<div id="divTask" style="background-color: lightblue; width:600px"> Всего запланировано задач:
		<div id="fromDB" style="background-color: lightgreen; width:600px">
	    <table>
	    	{{#each name}}
	    	<tr>
	    		<td>{{this.id}}.</td>
	    		<td>{{this.name_task}}</td>
	    	</tr>
	    	{{/each}}
	    </table>
		</div>
	</div>
	<br>
	<form method="POST">
		<input type="text" name="control_task" value="{{1}}">
		<input type="submit" value="Получить">
	</form>
	<br>
	   	<table>
	   		{{#each control_task}}
	   		<tr>
	   			<td>{{this.id}}.{{this.name_task}}</td>
	   		</tr>
	   		<tr>
	   			<td>Задача выполнена: {{this.date_end}}</td>
	   		</tr>
	   		{{/each}}
	   	</table>
	   	<br>
	<p>Форма для создания задачи:</p>
	<form id="formInsert" method="POST">
		<input type="text" id="idPK" name="id" placeholder="Номер задачи"><br>
		<input type="text" id="name_task" name="name_task" placeholder="Название"><br>
		<input type="text" id="start_task" name="start_task" placeholder="Дата начала"><br>
		<input type="text" id="date_end" name="date_end" placeholder="Дата завершения"><br>
		<input type="text" id="control_task" name="control_task" placeholder="0-если не завершена"><br><br>
		<input id="btn" type="button" value="Insert(don't work)">
	</form>
	<br>
	<br>
	<form method="POST">
		<input type="submit" name="task" value="Insert in Mysql">
		<!-- не работает мой insert -->
	</form>
	<br>
	<table>
		{{#each task}}
		<tr>{{this.id}}</tr>
		<tr>{{this.name_task}}</tr>
		<tr>{{this.date_start}}</tr>
		<tr>{{this.date_end}}</tr>
		<tr>{{this.control_task}}</tr>
		{{/each}}
	</table>

	<script>
		$('#btn').click(function(){
			var arrInput = [];
			arrInput.push(document.getElementById('idPK').value);
			arrInput.push(document.getElementById('name_task').value);
			arrInput.push(document.getElementById('start_task').value);
			arrInput.push(document.getElementById('date_end').value);
			arrInput.push(document.getElementById('control_task').value);
			$.ajax({
			  url: '/todo',
			  method: 'POST',
			  contentType: 'application/json',
			  data: JSON.stringify(arrInput),
			  success: function(response){
            	return response.json();
              },
              processData:false
			});
		});
	</script>
</body>
</html>